body {
    border: 5px solid black;
}

body * {
    margin: 20px 5px;
}

.box0:hover {
    /* ".box0" mean select all elements that class value has box0 */
    background-color: red;
}

.box0.box1:hover {
    /* ".box0.box1" mean select all elements that class should have both box0 and box1 */
    border: 10px solid black;
}

p.p0:hover {
    /* "p.p0" mean select all <p> elements that class should have "p0" value */
    font-size: 40px !important;
}

p, span {
    /* p, span mean select all <p> and <span> elements */
    color: darkblue;
}

.box2 .p1:hover {
    /* ".box2 .p1" mean select all elements that has "p1" class value which is inside of elements which class value has box2*/
    border: 5px dashed blue;
}

.box3 > span:hover {
    /* ".box1 > span" mean select all <span> tag that parent is element that class value is box1 */
    /* You should look carefully both, upper one and this one. */
    /* Because upper one focuses on "inside" element, not parent. But this one focuses on parent. */
    display: flex;
    justify-content: center;
    align-items: center;
}

div + section:hover {
     /* "div + section" mean select all <section> tags that are placed immediately after <div> tags */
     /* You must know that "IMMEDIATELY" means there is no elements between them */
    font-size: 25px;
    border: 3px solid darkmagenta;
}

.box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

.box4 ~ p:hover {
    /* ".box4 ~ p" mean select all <p> elements which is preceded by element which class value has box4 */
    /* You can look difference between upper one and this one */
    /* This selector doesn't focus on "IMMEDIATELY". */
    /* The only important thing is the matter of place of <p> element is after of element which class value has box4 */
    font-size: 5px;
    border: 5px solid teal;
}

.box5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

[href]:hover {
    /* "[href]" mean select all elements which have attribute "href" */
    text-decoration: none;
}

[href="#value to test"] {
    /* "href=#value to test" mean select all elements with "href" attribute and its value should be "#value to test" */
    font-size: 20px;
}

[href~="#value"] {
    /* "href~=#value" mean select all elements with "href" attribute and its value should contain "#value" */
    /* #value should be "INDEPENDENT" word. NOT A SUBSTRING */
    background-color: tomato;
}

[href|="#blank"] {
    /* "href|=#blank" mean select all elements with "href" attribute and its value should be "#blank" or started with "#blank-"*/
    margin-left: 30px;
}

[href^="#value-"] {
    /* "href^=#value-" mean select all elements with "href" attribute and its value should be started with "#value-"*/
    color: red;
}

[href$="#value"] {
    /* "href$=#value" mean select all elements with "href" attribute and its value ends with "#value"*/
    font-size: 30px;
}

a:active {
    /* "a:active" mean select all element which state is "active" */
    /* "active" status mean the time between click something and drop that. */
    font-size: 5px;
}

#box6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box6:hover::before {
    /* "#box6::before" mean make and select virtual element which is before of element which id is box6*/
    content: "Before is here!";
    font-size: 20px;
    font-weight: bold;
    background-color: whitesmoke;
}

#box6:hover::after {
    /* "#box6::after" mean make and select virtual element which is before of element which id is box6*/
    content: "After is here!";
    font-size: 20px;
    font-weight: bold;
    background-color: whitesmoke;
}

#list li:first-child:hover::after {
    /* "li:first-child" selector mean select <li> element which should be first element in its parent*/
    /* You MUST know that if the html structure like this,

        <div>
            <a>
            <li>
        </div>

        In this case, div li:first-child doesn't work because the "FIRST-CHILD" is <a> element
    */
    margin-left: 20px;
    content: "Selector is 'li:first-child!' Check details in comments of CSS file!!!!";
}

#list li:last-child:hover::after {
    /* "li:last-child" selector mean select <li> element which should be last element in its parent*/
    /* You MUST know that if the html structure like this,

        <div>
            <li>
            <a>
        </div>

        In this case, "div li:last-child" doesn't work because the "LAST-CHILD" is <a> element
    */
    margin-left: 20px;
    content: "Selector is 'li:last-child!' Check details in comments of CSS file!!!!";
}

input:checked {
    /* "input:checked" mean select all <input> elements that has attribute "checked" */
    width: 30px;
    height: 30px;
}

input:disabled {
    /* "input:disabled" mean select all <input> elements that has attribute "disabled" */
    width: 30px;
    height: 10px;
}

input:empty {
    /* "input:empty" mean select all <input> elements that there are no input  */
    background-color: red;
}